<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>902931259626-nbckc9j7b2p10dqok55ovkpmkbc1c3o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902931259626-nbckc9j7b2p10dqok55ovkpmkbc1c3o4</string>
	<key>API_KEY</key>
	<string>AIzaSyCKSafLQ1eTc15JESIQMLeUKE7R9pj9r_I</string>
	<key>GCM_SENDER_ID</key>
	<string>902931259626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halflemon.alltimer</string>
	<key>PROJECT_ID</key>
	<string>all-timer</string>
	<key>STORAGE_BUCKET</key>
	<string>all-timer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:902931259626:ios:de371a455a1fde67</string>
	<key>DATABASE_URL</key>
	<string>https://all-timer.firebaseio.com</string>
</dict>
</plist>