share-timer-info{
  .flex_button_group{
    margin: 0 16px 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex_button_item{
    margin: 0 5px 0 5px;
    width: 100%;
    font-weight: bold;
  }
}
