<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>

  <button ion-button color="light" (click)="goLoginPage()">
    login
  </button>
  <button ion-button color="light" (click)="goLogout()">
    logout
  </button>
  <button ion-button color="light" (click)="goIncrease()">
    timepicker
  </button>
  <button ion-button color="light" (click)="goStartFlow()">
    start Flow
  </button>
  <button ion-button color="light" (click)="goTimerAction(btnState, '')">
    {{btnState}}
  </button>
  <button ion-button color="light" (click)="goTimerReset()">
    reset
  </button>
  <div>
    current: {{current}}
  </div>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime  displayFormat="HH:mm:ss" (ionChange)="onChangeTimeSet(timerString)" [(ngModel)]="timerString">
    </ion-datetime>
  </ion-item>

  <ion-card *ngFor="let item of timerList ; " [attr.id]="'timerId_' + item.id">
    <ion-item>
      <p>{{item.title}} November 5, 1955</p>
    </ion-item>


    <div class="progress-wrapper" >
      <div>
        <i [style.color]=item.color class="icon-spin3 progress-refresh" (click)="resetTimer(item)" ></i>

        <ion-icon [style.color]=item.color class="progress-current" *ngIf="item.id==getCurrentContinuousTimer().id" name="radio-button-on"></ion-icon>

        <ion-icon [style.color]=item.color class="progress-current" *ngIf="item.id!=getCurrentContinuousTimer().id" name="radio-button-off" (click)="setCurrentTimer(item)"></ion-icon>

        <ion-icon [style.color]=item.color class="progress-setting" name="settings" (click)="timerSetting(item)"></ion-icon>

        <ion-icon *ngIf="item.notification.enable==true" [style.color]=item.color class="progress-notification" name="notifications" (click)="toggleNotification(item)"></ion-icon>
        <ion-icon *ngIf="item.notification.enable==false" [style.color]=item.color class="progress-notification" name="notifications-off" (click)="toggleNotification(item)"></ion-icon>

        <i *ngIf="item.status=='complete'" [style.color]=item.color class="icon-ok progress-status "></i>
        <ion-spinner *ngIf="item.status=='running'" [style.stroke]=item.color class="progress-status" name="bubbles"></ion-spinner>

        <div class="progress-text">
          <!-- {{item.timeSet}} -->
          <ion-datetime [style.color]=item.color displayFormat="HH:mm:ss" (ionCancel)="onCancelTimeSet(item)" (ionChange)="onChangeTimeSet(item)" [(ngModel)]="item.timeSet">
          </ion-datetime>
        </div>
        <div>
          <i *ngIf="item.btnStatus=='start'" [style.color]=item.color class="icon-play progress-icon" (click)="goTimerAction(item)" ></i>
          <i *ngIf="item.btnStatus=='pause'" [style.color]=item.color class="icon-pause progress-icon" (click)="goTimerAction(item)" ></i>
          <i *ngIf="item.btnStatus=='resume'" [style.color]=item.color class="icon-play progress-icon" (click)="goTimerAction(item)"></i>
          <i *ngIf="item.btnStatus=='end'" [style.color]=item.color class="icon-play progress-icon"></i>
        </div>
        <round-progress [current]="item.current" [max]="item.max" [radius]="radius" [rounded]="rounded" [color]=item.color >
        </round-progress>
      </div>
    </div>

    <ion-card-content>
      <p>{{item.detail}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<!--
<ion-content>
  <button ion-button color="light" (click)="goLoginPage()">
    login
  </button>
  <button ion-button color="light" (click)="goLogout()">
    logout
  </button>
  <button ion-button color="light" (click)="goStartFlow()">
    start Flow
  </button>
  <ion-card *ngFor="let item of timerList ; let i = index;" [attr.id]="'timerId_' + i">
    <ion-item>
      <p>{{item.title}} November 5, 1955</p>
    </ion-item>

    <div class="progress-wrapper" >
      <div>
        <i *ngIf="item.status=='complete'" [style.color]=item.color class="icon-ok progress-status"></i>

        <div class="progress-text" ng-hide="showTime">
          {{item.timeSet}}
        </div>
        <div>
          <i *ngIf="item.btnStatus=='start'" class="icon-play progress-icon" (click)="goTimerAction(item, '')" ></i>
          <i *ngIf="item.btnStatus=='pause'" class="icon-pause progress-icon" (click)="goTimerAction(item, '')" ></i>
          <i *ngIf="item.btnStatus=='resume'" class="icon-play progress-icon"  (click)="goTimerAction(item, '')"></i>
          <i *ngIf="item.btnStatus=='end'" class="icon-play progress-icon" ></i>
        </div>
        <round-progress [current]="item.current" [max]="item.max" [radius]="radius" [rounded]="rounded" [color]=item.color >
        </round-progress>
      </div>
    </div>

    <ion-card-content>
      <p>{{item.detail}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content> -->
