page-timer-list{
  ion-footer{
    // filter: opacity(.5);
  }
  .card-background-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    ion-card {
      flex-grow: 1;
      position: relative;
      text-align: center;
      height: 25%;
      margin: 0 0 0 0;
      width: 100%;
    }

    .card-title {
      position: absolute;
      top: 35%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-align: center;
      padding-left: 10px;

      left: 50%;
      width: 60%;
      transform: translateY(-50%) translateX(-50%);
      border-bottom: 2px solid red;
      // border-left: 5px solid orange;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 58%;
      width: 100%;
      color: #fff;
    }

    .card-icon{
      position: absolute;
      left:85%;
      top: 40%;
      color: #fff;
      zoom:2.0;
    }

    img{
      filter: blur(1.5px) grayscale(0.4) brightness(0.7) contrast(1.05);
    }
  }

  .avatar-text {
    padding: 10px 0;
    margin: auto;
    background-color: #EC407A;
    color: #ECEFF1;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .invalid {
    border: 1px solid #ea6153;
  }
  .flex_button_group{
    margin: 0 16px 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex_button_item{
    margin: 0 5px 0 5px;
    width: 100%;
    font-weight: bold;
  }
}
